$font-main: Montserrat, sans-serif;
$color-dark-blue: #07165E;

* {
  box-sizing: border-box;
  font-family: $font-main;
  font-weight: 300;
}

body {
  margin: 0;

}

a {
  text-decoration: none;
}

.article-login {
  display: flex;
  align-items: center;
  justify-content: center;
 
}

fieldset {
  text-align: center;
  margin: 0;
  margin-top: 200px;
  width: 40%;
  background: $color-dark-blue;
  border: none;
  border-radius: 2px;
}

.input-login {
  display: block;
  margin: 10px;
}

.button-login {
  margin: 10px;
  width: 154px;
  margin-top: 0px;
}

.div-login {
  display: inline-block;
}

nav {
  min-height: 25vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
  color: white;
  background-color: $color-dark-blue;
}