h1,
h2,
h3,
h4,
h5,
p {
  color: $color-black;
}

body {
  background-color: #fff;
  color: #333;
}

body,
p,
ol,
ul,
td,
span,
div {
  font-family: verdana, arial, helvetica, sans-serif;
}

body,
p,
ol,
ul,
td {
  font-size: 13px;
  line-height: 18px;
}

h1 {
  font-size: 60px;
  color: white;
}
