@charset "UTF-8";

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../../front/css/base/normalize.scss';
@import '../../../front/css/base/base.scss';
@import '../../../front/css/base/colors';
@import '../../../front/css/base/typography';

.focus {
  height: 224px;
  overflow-y: scroll;
}

#jiraActivity {
  .list-group-item.selected {
    background-color: #9cd6ff;
  }

  .list-group-item:hover {
    cursor: pointer;
    background-color: #e2e2e2;
  }

  .issue-summary {
    width: 20rem !important;
  }
}

#navDropdown {
  &::after {
    display: none;
  }
}

nav {
  border-bottom: solid 1px #ced4da;
  background-color: #fff;
}

.separator {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.separator::before,
.separator::after {
  display: block;
  content: "";
  border-top: 1px solid black;
  width: 100%;
  margin: 0 1rem;
}
