<!DOCTYPE html>
<html>
  <head>
    <title>FlowLab</title>
    # <%= csrf_meta_tags %>
    # <%= stylesheet_link_tag asset_path('app.css', 'css'), media: 'all' %>
  </head>

  <body>
    <div id="app"></div>
    <%= yield %>

  </body>
</html>
